@model webapp.Models.ProfileViewModel

<div class="dejt-container">


    @if (!string.IsNullOrEmpty(Model.ProfileImageUrl))
    {
        <div class="profile-pic" style="background-image: url('@Url.Content(Model.ProfileImageUrl)')"></div>
    }
    else
    {
        <img class="no-profile-pic" src="~/bilder/noProfilePic.jpg" />
    }

    <h4>@Model.Namn</h4>
    <div>@Model.Description</div>

    @*HiddenFor använder vi för att få ut Id:t på profilen men att det ligger gömt i viewn*@
    <div>
        @Html.HiddenFor(x => x.Id, new { @id = "profilIdHidden" })
    </div>

    <h4> Inlägg </h4>
    <div>
        <textarea id="nyPostTextBox" class="form-control" rows="6" placeholder="Skriv något till  @Model.Namn"></textarea>
        <button id="savePostButton" type="button" class="btn btn-primary pull-right mt10">Skicka</button>
        <div class="clearfix"></div>
    </div>

    <div id="errormessageDivtom" style="display:none" class="text-danger"> Vänligen skriv in minst 3 tecken </div>

    @foreach (var post in Model.MottagarePosts)
    {
        <div>
            <div class="bold">
                @post.AvsändareNamn
            </div>
            <div>
                @post.Text
            </div>

        </div>
    }



</div>

@*EventListner på knappen som tilldelar värdet i textrutan till variabler*@
<script type="text/javascript">

    document.getElementById("savePostButton").addEventListener("click", function () {
        $("#errormessageDivtom").hide();
        var mottagareId = document.getElementById("profilIdHidden").value;
        var text = document.getElementById("nyPostTextBox").value;

        //Kollar om textmeddelandet är längre än två tecken
        if (text == "" || text.length <= 2) {
            $("#errormessageDivtom").show();
        }
        else {
            $("#errormessageDivtom").hide();

            //Skickar posten till ApiControllern

            $.post('/api/profilepost/savepost', { MottagareId: mottagareId, Text: text }, function (response) {
                location.reload();
            });

        }
    });


</script>

