@model Datalager.Models.Profile
@*@model webapp.Models.EditProfileViewModel*@
@using webapp.Models
@{
    ViewBag.Title = "Min profilsida";
}

<h3>@ViewBag.Message</h3>

@if (!string.IsNullOrEmpty(Model.ProfileImageUrl))
{
    <img src="@Url.Content(Model.ProfileImageUrl)" class="profile-pic" />
}
else
{
    <img src="~/bilder/noProfilePic.jpg" class="profile-pic" />
}

<h4>@Model.Namn</h4>

<h4> Beskrivning om mig </h4>



<div>@Model.Description</div>

<label for="post">skicka ett inlägg till <span>@Model.Namn</span>  </label>
<div>
@Html.TextAreaFor(x => x.LoggText, new { @class = "form-control", @cols = "", @rows = 6 })

    <button type="button" class="btn btn-success">Skicka</button>
    <div class="clearfix"></div>
</div>

<div>@Model.LoggText</div>



    





