@model webapp.Models.ProfileViewModel

<div class="dejt-container">


    @if (!string.IsNullOrEmpty(Model.ProfileImageUrl))
    {
        <img src="@Url.Content(Model.ProfileImageUrl)" class="profile-pic" />
    }
    else
    {
        <img src="~/bilder/noProfilePic.jpg" class="profile-pic" />
    }

    <h4>@Model.Namn</h4>
    <div>@Model.Description</div>
    <div>
        @Html.HiddenFor(x => x.Id, new { @id = "profilIdHidden" })
    </div>

    <h4> Inlägg </h4>
    <div>
        <textarea id="nyPostTextBox" class="form-control" rows="6" placeholder="Skriv något till  @Model.Namn"></textarea>
        <button id="savePostButton" type="button" class="btn btn-primary pull-right mt10">Skicka</button>
        <div class="clearfix"></div>
    </div>

    <div id="errormessageDivtom" style="display:none" class = "text-danger" > Vänligen skriv in något i rutan </div>

    @foreach (var post in Model.MottagarePosts)
    {
        <div>
            <div class="bold">
                @post.AvsändareNamn
            </div>
            <div>
                @post.Text
            </div>

        </div>
    }



</div>

<script type="text/javascript">
    $("#errormessageDivtom").hide()

    document.getElementById("savePostButton").addEventListener("click", function () {
        $("#errormessageDivtom").hide();
        var mottagareId = document.getElementById("profilIdHidden").value;
        var text = document.getElementById("nyPostTextBox").value;
        if (text == "" || text.length <= 2) {
            $("#errormessageDivtom").show();
        }
        else {
            $("#errormessageDivtom").hide();

      
            $.post('/api/profilepost/savepost', { MottagareId: mottagareId, Text: text }, function (response) {
                location.reload();
            });

        }
    });


</script>

