@model webapp.Models.ProfileViewModel

@{
    ViewBag.Title = "Min profilsida";
}
<div class="dejt-container">

    @using (Html.BeginForm("SavePost", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            @Html.HiddenFor(x => x.Id)
        </div>
        <h2>Din profil.</h2>
        <hr />

        if (!string.IsNullOrEmpty(Model.ProfileImageUrl))
        {
            <img src="@Url.Content(Model.ProfileImageUrl)" class="profile-pic" />
        }
        else
        {
            <img src="~/bilder/noProfilePic.jpg" class="profile-pic" />
        }

        <h4>@Model.Namn</h4>
        <div>@Model.Description</div>


        <h4> Inlägg </h4>
        <div>
            @Html.TextAreaFor(x => x.NyPostText, new { @class = "form-control", @cols = "", @rows = 6, @placeholder = "Skriv något till " + @Model.Namn + "..."  })

            <button type="submit" class="btn btn-primary pull-right mt10">Skicka</button>
            <div class="clearfix"></div>
        </div>


        foreach (var post in Model.MottagarePosts)
        {
        <div>
            <div class="bold">
                @post.AvsändareNamn
            </div>
            <div>
                @post.Text
            </div>

        </div>
        }

    }
</div>








