@model webapp.Models.FriendsViewModel

@{
    ViewBag.Title = "Vänner";
}
<h2>Vänner.</h2>
<hr />
<div class="dejt-container">


    @*Sökruta för att söka fram en vän. Visar den vän som matchar favoritkakan man skrivit in *@
    <h4>Sök mumsare</h4>
    <div class="bold">Matcha på din favoritkaka</div>
    <div>Vilken gillar du bäst? Bulle, kladdkaka eller kanske tårta?</div>

    @using (Html.BeginForm("Search", "SearchFriends", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="dejt-container">
            <div class="row">
                <div class="col-xs-8">
                    @Html.TextBoxFor(x => x.SearchText, new { @class = "mt10 form-control", @placeholder = "Sök på din favoritkaka..." })
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <input type="submit" value="Sök" class="btn btn-default pull-right mt10" />
                        <div class="clearfix"></div>

                    </div>

                </div>
            </div>
            @Html.ValidationMessageFor(X => X.SearchText, "", new { @class = "text-danger" })

            @foreach (var p in Model.Profiles)
            {
                @Html.Partial("ProfileImagePartial", p);

                <div>
                    @p.Favoritkaka
                </div>

            }
            <p class="text-danger">@ViewBag.StatusMessage</p>

        </div>
    }

</div>
<hr />

@*Här loopas alla vänner ut i vänlistan*@
<h3>Dina nuvarande mumsarlista</h3>
@foreach (var vän in Model.Kontakter)
{
    @Html.Partial("ProfileImagePartial", vän);
}